<launch>
	<arg name="device_kernel" default="1-2"/>
	<node name="respeaker_node" pkg="respeaker_ros" type="respeaker_node.py" />
		<param name="mic_name" 	value="respeaker"/>
		<param name="kernel" 	value="$(arg device_kernel)"/>
		<param name="hw_num"	value="1"/>

	<node name="static_transformer" pkg="tf" type="static_transform_publisher"
		args="0 0 0 0 0 0 base_link respeaker_base 100" />
</launch>
